<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.novo.testcases.TC_131101_VerifyHomepage"/>
      <class name="com.novo.testcases.TC_131103_VerifyMainMenuFontProp"/>
      <class name="com.novo.testcases.TC_131105_Verifytopheadersarestickyhead"/>
      <class name="com.novo.testcases.TC_131104VerifyHeaderLayout"/>
      <class name="com.novo.testcases.TC_131102_VerifyMenuandLogoPresenseinHeader"/>
      <class name="com.novo.testcases.TC_131133VerifyFontPropInSec7"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
